
body {
    background-size: cover;
    background-image: url("../images/weather_background.webp");
  }
h6 {
    color: white;
}
.search {
    border-style: solid;
    border-width: 1px;
    border-color: orangered;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    cursor: pointer;
}
.f1 {
    background-color: skyblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}
.f2 {
    background-color: skyblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}
.f3 {
    background-color: skyblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}
.f4 {
    background-color: skyblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}
.f5 {
    background-color: skyblue;
    color: White;
    max-width: 100%;
    margin-right: 1%;

}
